<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Countdown Timer</title>
        <link rel="stylesheet" href="../public/index.css">
    </head>
    <body>
        <div class="container">

            <nav class="nav-container">
                <h1 class="nav-heading">HODLINFO</h1>
                <div >
                    <select class="nav-options">
                        <option value="INR">INR</option>
                    </select>
                    <select class="nav-options">
                        <option value="BTC">BTC</option>
                    </select>
                    <select class="nav-options">
                        <option value="BUYBTC">BUY BTC</option>
                    </select>
                </div>

                <div class="nav-telegram-btn">
                    <div class="timer-container">
                        <svg class="circle" width="30" height="30"> <!-- Adjusted size -->
                            <circle class="background" cx="15" cy="15" r="13.5"></circle> <!-- Adjusted radius -->
                            <circle class="progress" cx="15" cy="15" r="13.5"></circle> <!-- Adjusted radius -->
                        </svg>
                        <div class="time">60</div>
                    </div>
                    <button class="btn"> <img src="https://res.cloudinary.com/diptulwgs/image/upload/v1726423651/telegram_4_r2hzvr.png"/> Connect Telegram</button>
                    <label class="toggle-button">
                        <input type="checkbox" />
                        <span class="toggle-button-slider"></span>
                      </label>
                </div>
            </nav>

            <div class="sub-container">
                <h1 class="heading1">Best Price to India</h1>
                <div class="percent-cheacker">
                    <div class="value-opt">
                        <h1 class="head-opt">0.1%</h1>
                        <p class="para-opt">5 min</p>
                    </div>
                    <div class="value-opt">
                        <h1 class="head-opt">0.1%</h1>
                        <p class="para-opt">5 Hour</p>
                    </div> 
                    <div class="value-opt">
                        <h1 class="mainHeadOpt">$2136648</h1>
                        <p class="para-opt">Average bitcoin net price including comission</p>
                    </div>
                    <div class="value-opt">
                        <h1 class="head-opt">0.1%</h1>
                        <p class="para-opt"> 1 Day</p>
                    </div>
                    <div class="value-opt">
                        <h1 class="head-opt">0.1%</h1>
                        <p class="para-opt">7 Days</p>
                    </div>
                </div>
                <div class="components-container">
                    <div class="components">
                        <h1>#</h1>
                        <h1>Platform</h1>
                        <h1>Last Traded Price</h1>
                        <h1>Buy / Sell Price</h1>
                        <h1>Difference</h1>
                        <h1>Savings</h1>
                    </div>

                    <div class="components2">
                        <h1>1</h1>
                        <h1>Wazrix</h1>
                        <h1>₹124568</h1> 
                        <h1>₹1245680 / ₹124568</h1>
                        <h1>-3.4%</h1>
                        <h1>₹124568</h1>
                    </div>
                    
                    <div class="components2">
                        <h1>1</h1>
                        <h1>Wazrix</h1>
                        <h1>₹124568</h1> 
                        <h1>₹1245680 / ₹124568</h1>
                        <h1>-3.4%</h1>
                        <h1>₹124568</h1>
                    </div>

                    <div class="components2">
                        <h1>1</h1>
                        <h1>Wazrix</h1>
                        <h1>₹124568</h1> 
                        <h1>₹1245680 / ₹124568</h1>
                        <h1>-3.4%</h1>
                        <h1>₹124568</h1>
                    </div>

                    <div class="components2">
                        <h1>1</h1>
                        <h1>Wazrix</h1>
                        <h1>₹124568</h1> 
                        <h1>₹1245680 / ₹124568</h1>
                        <h1>-3.4%</h1>
                        <h1>₹124568</h1>
                    </div>

                    <div class="components2" id="containing">
                        <h1>1</h1>
                        <h1>Wazrix</h1>
                        <h1>₹124568</h1> 
                        <h1>₹1245680 / ₹124568</h1>
                        <h1>-3.4%</h1>
                        <h1>₹124568</h1>
                    </div>
                    
                </div>
            </div>

            
            <div id="parent"></div>

        </div>

        

        <script src="../public/script.js"></script>
        
    </body>
</html>